@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
  background: url("../public/yourname_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
/* Customize the scrollbar width */
  width:6px;
}

::-webkit-scrollbar-track {
/* Customize the scrollbar track */
  background: #272323;
}

::-webkit-scrollbar-thumb {
/* Customize the scrollbar thumb */
  background-color: aliceblue;
  border-radius:10px;
}
